.jumbotron {
	background: #66ccff;
	color: white;
}

/* Table properties */

table.table-bordered{
border: 1px;
margin-top: 0px;
padding-top: 0px;
}

th {
	background-color: #00aaff;
	color: white;
}

td {
	color: white;
}

/* Submit jumbo */

#jumbo1 {
	min-width: 338px;
}

/* Get Task jumbo */

#jumbo2 {
	min-width: 338px;
	margin-bottom: 0px;
}

/* Show all current tasks jumbo */

#jumbo3 {
	min-width: 378px;
	padding-top: 32px;
	padding-bottom: 32px;
}

#getTaskDetail {

}

#page-header {
	background: #66ccff;
	color: white;
	border-bottom: 0.5px solid #000;
}

footer {
	background-color: #f5f5f5;
	padding-left: 15px;
}